.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* margin: 0; prevents a double scroll bar */
  background-color: #373737;
}

#stage-scroll-container {
  width: calc(100vw);
  height: calc(100vh);
  overflow: auto;
  scrollbar-color: light;
  overflow: scroll;

  scroll-snap-type: both mandatory;
}

#stage-large-container {
  width: 200vw;
  height: 200vh;
  overflow: hidden;
  /* scroll-snap-align: start; */
  /* background: linear-gradient(45deg, #4d0000, #0a0048); */
  background-color: #373737;
}

#spaces-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.desktop-space {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}

.space1 {
  border-right: 1px dashed #ffffff48;
}
.space2 {
  border-bottom: 1px dashed #ffffff48;
}
.space3 {
  border-top: 1px dashed #ffffff48;
}
.space4 {
  border-left: 1px dashed #ffffff48;
}

/* * {
  outline: 1px solid red;
} */

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#overlay-no-pointer-events {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
#backdrop-blur {
  background-color: #7c7c7c37;
  /* background:rgba(0,0,0,0.8); */
  backdrop-filter: blur(16px);
}

#overlay-content {
  height: auto;
  position: absolute;
  /* margin: 0 auto; */
  padding: 10px;

}

#click-back-div {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

button {
  background: rgb(0, 0, 0, 0.25);
  color:rgb(120, 120, 120);
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}

table {
  padding: 10px 20px;
  /* background: rgba(255, 255, 255, 0.75); */
  border-radius: 9px;
  border-collapse: collapse;
}
tr { 
  border: solid rgb(255, 255, 255, 0.1);
  border-width: 1px 0;
  border-radius: 9px;
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

tr, td {
  text-align: left;
  /* color: rgb(10, 10, 10); */
  /* color: black; */
  color: white;
  font-family: monospace;
  font-size: 0.8em;
  padding: 8px 12px;
}

#menu-dropdown {
  background-color: rgba(255, 255, 255, 0.309);
  /* color: black;  */
  font-family: monospace;
  padding: 8px;
  padding-right: 32px;
  border-radius: 9px;
  border:none;
}

#explorer-dropdown {
  /* color: rgb(255, 255, 255);  */
  color: yellow; 
  padding: 0px;
  padding-left: 26px;
  border-radius: 9px 0 0 9px;
  border-color: transparent;
}

.nomargin {
  margin: 0;
}

.monospace {
  font-family: monospace;
}

.MuiAutocomplete-root:hover .MuiOutlinedInput-notchedOutline {
  /* borderRadius: '0px', */
  background-color: 'rgb(255,255,255,0.1)';
  border: '1px solid transparent';
}

#shape-tool-div {
  /* z-index: 100; */
}

.MuiInputBase-input  {
  height: 16px !important;
}

.MuiInputBase-root {
  border: 0px !important;
}

#playTheShapeGame {
  padding: 0px;
  /* padding-left: 26px; */
  border-radius: 9px;
  background-color: rgb(255,255,255, 0.1);
  /* background-color: white; */
  backdrop-filter: blur(16px);
}